$defaultFontSize: 14px;

$fontSizeButton: 0.9rem;
$fontSizeTitle: 2.5rem;
$fontSizeTitleHead: 1.6rem;
$fontSizeBanner: 0.8rem;
$fontSizeH3: 1.5rem;
$fontSizeSecondText: 31px;
$fontSizeIcon: 4rem;
$fontSizeCategoryText: 17px;
$fontSizePriceTitle: 1rem;
$fontSizeNameColor: 0.9rem;
$fontSizeContent: 0.8rem;
